li.case {
  a {
    display: block;
    text-decoration: none;
    color: #fff;
    h6 {
      text-transform: uppercase;
      font-weight: 300 !important;
    }
    .banner-container {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 7px;
      img.banner {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
    div {
      display: flex;
      span {
        font-weight: 100;
        color: rgba($white, $alpha: 0.75);
        border: 1px solid $lightGray;
        border-radius: 70px;
        display: block;
        margin-right: 15px;
        margin-top: 20px;
        padding: 5px 20px;
      }
    }
  }
}
