.case {
  a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: 200ms linear;

    &:hover {
      h5 {
        opacity: 1;
      }

      div {
        display: flex;
        span {
          font-weight: 100;
          color: rgba($white, $alpha: 1);
          border: 1px solid $white;
          border-radius: 70px;
          display: block;
          margin-right: 15px;
          margin-top: 20px;
          padding: 5px 20px;
        }
      }
      .banner-container {
        img.banner {
          flex-shrink: 0;
          min-width: 100%;
          min-height: 100%;
          transform: scale(1.05) rotate(-3deg);
        }
      }
    }

    h5 {
      text-transform: uppercase;
      font-weight: 400 !important;
      transition: 200ms linear;
      opacity: 0.75;
      color: $white;
    }
    .banner-container {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 7px;
      img.banner {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        transition: 200ms linear;
      }
    }
    div {
      display: flex;
      span {
        font-weight: 100;
        color: rgba($white, $alpha: 0.75);
        border: 1px solid $lightGray;
        border-radius: 70px;
        display: block;
        margin-right: 15px;
        margin-top: 20px;
        padding: 5px 20px;
        transition: 200ms linear;
      }
    }
  }
}
