.projects {
  position: relative;
  ul {
    margin: 0 auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 75px;
    margin-bottom: 40px;
  }

  .link-to-portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .customCursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    background: rgba(yellow, 0.5);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
  }
}

@media only screen and (max-width: 1085px) {
  .projects ul {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 665px) {
  .projects ul {
    grid-template-columns: auto;
  }
}
