.testimonial {
  position: relative;
  width: 98%;
  height: 280px;
  background: $gray;
  border: 2px solid $lightGray;
  border-radius: 5px;
  padding: 20px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 250ms ease-in-out;

  &:hover {
    background: #202020;
    border: 2px solid $action;
  }

  > img {
    width: 35px;
  }

  .profile {
    display: flex;
    align-items: center;

    section:first-of-type {
      img {
        border-radius: 50px;
        margin-right: 15px;
      }
    }
    section:last-of-type {
      p {
        font-weight: 500;
        opacity: 1;
      }
      small {
        font-size: 12.5px;
        margin-top: 2.5px;
        font-weight: 300;
        opacity: 0.87;
      }
    }
  }
}
