// components overwrites
@import "./variables";
@import "./components/Navbar.scss";
@import "./components/Hero.scss";
@import "./components/HeaderTextBlock.scss";
@import "./components/Link.scss";
@import "./components/Services.scss";
@import "./components/Quote.scss";
@import "./components/Projects.scss";
@import "./components/Case.scss";
@import "./components/Partners.scss";
@import "./components/Reviews.scss";
@import "./components/Testimonial.scss";

// global styles
$font-family-base: $font-family;
$body-bg: $black;
$body-color: $white;
$headings-font-weight: 700;

$theme-colors: (
  "primary": $action,
  "secondary": $black,
  // "success": $success,
  // "info": $info,
  // "warning": $warning,
  // "danger": $danger,
  // "light": $light,
  // "dark": $dark,,,,,,,,,,,,,,,,,,,,,,,,,
);

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  body {
    overflow-x: hidden;
    p {
      opacity: 0.82;
      font-weight: 300;
      margin: 0px;
    }

    ul {
      margin: 0px;
      padding: 0px;
    }

    h2 {
      margin-bottom: 50px;
      line-height: 120%;
      text-transform: uppercase;
    }

    .margin-small {
      height: 85px;
    }

    .margin-normal {
      height: 125px;
    }
  }
}

@import "~bootstrap/scss/bootstrap";
